torch>=1.9.0
torchvision
numpy
matplotlib
Pillow
tqdm
clip@git+https://github.com/openai/CLIP.git
dlib # Для выравнивания лиц на инверенсе
scikit-learn # Для PCA в визуализации
ninja # Для StyleGAN2 Pytorch расширения
